/* thème */
:root {
  --font-family: "Roboto", sans-serif;
  --primary: #49280d !important;
  --secondary: #eceada !important;

  --dark: #2c3e50;
  --danger: #e74c3c;
  --background-light: #ecf0f1;
  --text-color: #444 !important;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
}

/* reset */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--font-family);
  background-color: var(--background-light);
}
body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Le contenu principal prendra autant d'espace que possible */
}

h1,
p {
  margin: 0;
  color: var(--text-color);
}

h1 {
  margin-bottom: 1rem;
}

ul,li {
  padding: 0;
  list-style-type: none!important;
}

/* BODY */
header,
footer {
  background-color: var(--secondary);
}
header {
  padding: 0 !important;
}

.logoFooter {
  width: 100px;
  height: 100px;
}
